.Card {

  &__container {
    max-width: 20em;
    margin: 0 auto;
    height: 33em;
    // overflow: auto;
    border: 1px solid hsl(var(--clr-secondary));
    border-radius: 2em;
    transition: all 500ms linear;
    box-shadow: 0 12px 20px 4px rgba(0, 0, 0, 0.8),
      0 24px 40px 1px rgba(0, 0, 0, 0.4),
      0 6px 12px 2px hsl(var(--clr-secondary));

    &:hover,
    &:focus {
      border-color: hsl(var(--clr-primary));
      box-shadow: 0 12px 20px 4px rgba(0, 0, 0, 0.8),
        0 24px 40px 1px rgba(0, 0, 0, 0.4),
        0 6px 12px 2px hsl(var(--clr-primary));
    }
  }

  &__image {
    max-width: 100%;
    border-radius: 2em 2em 0 0 
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;

    &--title {
      margin-bottom: 0.5em;
      text-align: center;
    }

    &--links {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 0.5em;
    };

    &--link {
      color: hsl(var(--clr-primary));

      &:hover,
      &:focus {
        text-shadow: 0 0 10px hsl(var(--clr-primary));
      }
    }

    &--description {
      text-align: left;
      margin: auto;
      margin-top: 1em;
      overflow: auto;
    }
  }
}
