.Contact {
  margin-top: 4em;
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;

 &__screen {
    position: relative;
    background-color: hsl(var(--bg-primary));
    border-radius: 2em;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 2em;
        box-shadow: 0 20px 40px rgba(0,0,0,0.4);
        z-index: -1;
    }
 }

 &__header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: hsl(var(--bg-primary));
 }
}
