.Hero {
  position: relative;
  height: 70vh;
  width: 100vw;
  margin: 3em 0;
  padding: 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__section {
    overflow: hidden;
    text-align: center;
    margin-bottom: 0.2em;
    text-shadow: 0 0 3px #000;

    strong {
      text-transform: uppercase;
      color: hsl(var(--clr-primary));
    }
  }

  &__img {
    margin-top: 0.5em;
    height: 200px;
    max-width: 50%;
  }

  &__theme-toggler {
    margin-top: 3em;
    display: flex;
    gap: 2em;
    align-items: center;

    &--light {
      color: hsl(var(--clr-primary));
      border-color: hsl(var(--bg-primary));
    }

    &--dark {
      color: hsl(var(--clr-secondary));
      border-color: hsl(var(--clr-secondary));
    }

    .toggle-btn {
      font-size: 1.5rem;
      display: grid;
      place-items: center;
      padding: 0.5em;
      border: 1px solid;
      background-color: hsl(var(--bg-primary));
      cursor: pointer;
      transform: scale(1);
      transition: all 500ms linear;

      &:hover,
      &:focus {
        transform: scale(1.05)
      }
    }
  }

  .section__subtitle--intro {
    display: inline-block;
  }

  @media (min-width: 35em) {
    .Hero {
      &__img {
        height: 300px;
      }

      .section__subtitle--intro {
        text-align: right;
      }
    }
  }

  @media (min-width: 55em) {
    .Hero {
      &__container {
        display: grid;
        width: min-content;
        margin: 0 auto;
        column-gap: 1em;

        grid-template-areas:
          'img title'
          'img subtitle'
          '. btns';
        grid-template-columns: min-content max-content;
      }

      &__theme-toggler {
        grid-area: btns;
        margin: auto;
      }

      &__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
      }

      &__section {
        grid-area: title;
        text-align: left;

        strong {
          display: block;
        }
      }
    }
    .section__subtitle--intro {
      align-self: start;
      grid-column: -1 / 1;
      grid-row: 2;
      position: relative;
      left: -0.5em;
      width: calc(100% + 3.5em);
    }
  }

  @media (min-width: 70em) {
    .hero__section strong {
      display: inline;
    }
  }
}
