:root {
  --bg-primary: 240 6% 10%;
  --txt-primary: 240 5% 96%;
  --clr-primary: 161 94% 45%;
  --clr-secondary: 347 77% 55%;

  --bg-animated: linear-gradient(270deg, #18181b, #27272a, #3f3f46, #52525b);

  --ff-heading: 'Raleway', sans-serif;
  --ff-body: 'Inter', sans-serif;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  @media (min-width: 35em) {
    & {
      --fs-h1: 3.5rem;
    }
  }

  @media (min-width: 55em) {
    & {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
    }
  }
}

[data-theme='light'] {
  --txt-primary: 240 6% 10%;
  --bg-primary: 240 5% 96%;
  --clr-primary: 161 65% 55%;
  --clr-secondary: 347 100% 65%;

  --bg-animated: linear-gradient(270deg, #fafafa, #f4f4f5, #e4e4e7, #d4d4d8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.app {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: hsl(var(--txt-primary));
  background-color: hsl(var(--bg-primary));
  background-image: var(--bg-animated);
  background-size: 1200% 1200%;
  transition: all 500ms ease-in;
  overflow: hidden;
  -webkit-animation: bg-animate 30s ease infinite;
  -moz-animation: bg-animate 30s ease infinite;
  animation: bg-animate 30s ease infinite;

  @-webkit-keyframes bg-animate {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes bg-animate {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes bg-animate {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

input,
button,
textarea,
select {
  font: inherit;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: hsl(var(--bg-primary));
  border-radius: 2em;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--clr-secondary));
  border-radius: 2em;
  border: 4px solid hsl(var(--bg-primary));
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--clr-primary));
  border-radius: 2em;
}

@supports (scrollbar-cover: red blue) {
  * {
    scrollbar-color: hsl(var(--clr-primary)) hsl(var(--txt-primary));
    scrollbar-width: thin;
  }
}
