:root {
  --bg-primary: 0 0% 7%;
  --txt-primary: 0 0% 87%;
  --clr-primary: 200 100% 70%;
  --clr-secondary: 0 68% 42%;

  --ff-heading: 'Playfair Display', serif;
  --ff-body: 'Roboto', sans-serif;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  @media (min-width: 35em) {
    & {
      --fs-h1: 3.5rem;
    }
  }

  @media (min-width: 55em) {
    & {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
    }
  }
}

[data-theme='light'] {
  --bg-primary: 0 0% 96%;
  --txt-primary: 0 0% 7%;
  --clr-primary: 210 100% 35%;
  --clr-secondary: 0 59% 41%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.app {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: hsl(var(--txt-primary));
  background-color: hsl(var(--bg-primary));
  background-size: 1200% 1200%;
  transition: all 500ms ease-in;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

input,
button,
textarea,
select {
  font: inherit;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: hsl(var(--bg-primary));
  border-radius: 2em;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--clr-secondary));
  border-radius: 2em;
  border: 4px solid hsl(var(--bg-primary));
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--clr-primary));
  border-radius: 2em;
}

@supports (scrollbar-cover: red blue) {
  * {
    scrollbar-color: hsl(var(--clr-primary)) hsl(var(--txt-primary));
    scrollbar-width: thin;
  }
}
