section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bolder);
}

:focus {
  outline: 3px solid hsl(var(--clr-primary));
  outline-offset: 3px;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.shadow-sm {
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.8);
}

.shadow-md {
  box-shadow: 0 12px 20px 4px rgba(0, 0, 0, 0.8);
}

.shadow-lg {
  box-shadow: 0 12px 20px 4px rgba(0, 0, 0, 0.8),
    0 24px 40px 1px rgba(0, 0, 0, 0.4);
}



